# Paths
monodepth_cfg_path: "src_betr/configs/da3mono-large.yaml"
monodepth_checkpoint_path: "src_betr/checkpoints/DA3Mono_Large.safetensors"
metricdepth_cfg_path: "src_betr/configs/da3metric-large.yaml"
metricdepth_checkpoint_path: "src_betr/checkpoints/DA3Metric_Large.safetensors"
dinov3_checkpoint_path: "src_betr/checkpoints/dinov3_vitl16_pretrain_lvd1689m-8aa4cbdd.pth"
wds_root: "datasets/betr_wds"
json_root: "datasets/L2V_new"
data_root: "datasets/"

# System
device: "cuda"
model_name: "betr_model_v3" # Model with Z-Score and Increasing lambda of fine loss
seed: 42

# Data
data:
  da3_image_size: 448
  dino_image_size: 512
  target_quality: "Good"
  min_area_object: 1024 # 32x32
epoch_length: 50000

# Model Dimensions
feature_generator_dim: 512  # 
d_model: 256                # Transformer model dimension

# Model Hyperparameters
dropout: 0.1
activation: "relu"
feature_mode: True  # Whether to use feature generator

# Prediction Heads Config
prediction_heads: [
  "center heatmap", "center depth", "bb8 offsets", "bb8 depth offsets",
]
soft_argmax:
  beta: 100.0
  is_sigmoid: True

# Transformer Encoder Config
encoder:
  nhead: 8
  dim_feedforward: 1024
  num_layers: 6

# Transformer Decoder Config
decoder:
  d_model: 256
  nhead: 8
  dim_feedforward: 1024
  num_layers: 6

# Positional Encoding Config
position_encoding:
  temperature: 10000
  normalize: False
  scale: null

# Box Embedding Config
box_embedding:
  temperature: 10000
  scale: null

# Loss configs
loss_weights:
  lambda_: 5.0 # Weights for fine loss
  sigma_: 2.0 # heatmap std

# Hyperparameters
num_epochs: 100
batch_size: 16
learning_rate: 1e-4
weight_decay: 1e-4
num_workers: 4

# Validation and Logging
val_interval: 5
save_interval: 25